@charset "UTF-8";
html, body, div, a, p, img, ul, li, footer, header, section, h1, span, time, hgroup, a img, aside, form, input, article, h2, h3, h4, label, textarea, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparen;
    text-decoration: none;
}

html, body {
    background-color: #000;
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-image:
        -webkit-linear-gradient(60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -webkit-linear-gradient(-60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -webkit-linear-gradient(60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -webkit-linear-gradient(-60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -webkit-linear-gradient(30deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606),
        -webkit-linear-gradient(30deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606);
    background-image:
        -moz-linear-gradient(60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -moz-linear-gradient(-60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -moz-linear-gradient(60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -moz-linear-gradient(-60deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303),
        -moz-linear-gradient(30deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606),
        -moz-linear-gradient(30deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606);
    background-image:
        linear-gradient(30deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 0 0,
        linear-gradient(150deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 0 0,
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 40px 70px,
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 40px 70px,
        linear-gradient(60deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606) 0 0,
        linear-gradient(60deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606) 40px 70px / 80px 140px;
    -pie-background:
        linear-gradient(30deg, #030303 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 0 0 / 80px 140px,
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 0 0 / 80px 140px,
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 40px 70px / 80px 140px,
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #030303 87.5%, #030303) 40px 70px / 80px 140px,
        linear-gradient(60deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606) 0 0 / 80px 140px,
        linear-gradient(60deg, #060606 25%, transparent 25.5%, transparent 75%, #060606 75%, #060606) 40px 70px / 80px 140px,
        #556;
    behavior: url(PIE.htc);
}

#logo {
    width: 356px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-right: 7px;
}

#logo img {
    width: 100%;
    height: 100%;
}

#logo_txt {
    font-family: 'Share Tech Mono';
    margin-left: auto;
    margin-right: auto;	
    padding-top: 7px;
    font-size: 16pt;
    font-style: normal;
    text-align: center;
    color: #CCC;
    letter-spacing: .4em;
}

#logo_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -178px;
    margin-top: -92px;
}

#footer_container {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#footer_contents {
    padding-bottom: 3em;
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono';
    font-size: 8pt;
}
